/* Write your CSS here */
.app-container {
  background-image: linear-gradient(#fbc7d4, #9796f0);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.appointment-container {
  background-color: #ffffff;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
}
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 105%;
}
.input-title {
  height: 30px;
  width: 200px;
  outline: 0;
  margin-bottom: 20px;
  border: 2px solid #b5b7c4;
  border-radius: 2px;
  padding: 10px;
}
.image-appointment {
  width: 90%;
}

.appointment-starred-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.appointment-list-container {
  display: flex;
  flex-wrap: wrap;
}
.filter {
  background-color: blue;
  color: white;
  border-radius: 15px;
  height: 30px;
  width: 70px;
  border: 1px solid white;
}
